<div class="jumbotron signup-jt">

    <div class="container-fluid">
        <h2>Welcome back, {{account.data.user.first_name}}!</h2>
    </div>

</div>

<div class="container-fluid">
  <h4>{{account.data.status}}</h4>

  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <form class="form-group">

                <label for="emailAddress">Email address</label>
                <input ng-model="account.data.user.email" type="email" class="form-control" id="emailAddress" required />

                <label for="password">Password</label>
                <div class="input-group">
                  <input ng-model="account.data.user.password" type="password" class="form-control" id="password" required />
                  <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                </div>

                <label for="firstName">First Name</label>
                <input ng-model="account.data.user.first_name" type="text" class="form-control" id="firstName" required />

                <label for="lastName">Last Name</label>
                <input ng-model="account.data.user.last_name" type="text" class="form-control" id="lastName" required />

                <fieldset>
                  <legend>information from your utility bill</legend>
                  <label for="xcelAccountNumber">your Xcel Energy account number</label>
                  <input ng-model="account.data.user.xcel_account" type="text" class="form-control" id="xcelAccountNumber" />

                  <label for="xcelPremiseNumber">your Xcel Energy premise number</label>
                  <input ng-model="account.data.user.xcel_premise" type="text" class="form-control" id="xcelPremiseNumber" />

                  <label for="xcelServiceAddress">your Xcel Energy service address</label>
                  <input ng-model="account.data.user.xcel_street" type="text" class="form-control" id="xcelServiceAddress" />
                  <input ng-model="account.data.user.xcel_city" type="text" class="form-control" id="xcelServiceAddress" />

                  <label for="electricUsage">recent month electric usage</label>
                  <input ng-model="account.data.user.electric_usage" type="range" id="electricUsage" />
                </fieldset>

                <p>Agency agreement</p>

                <p>Data Privacy agreement</p>

                <p>{{account.data.savedStatus}}</p>

                <button class="btn btn-primary btn-lg btn-block" ng-click="account.save()">Save changes</button>
                <button class="btn btn-danger btn-lg btn-block" ng-click="account.logout()">Logout</button>

        </form>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>
