<div class="jumbotron index-jt">
  <div class="wrapper">
    <h1>Go Solar!</h1><br />
    <h2>Save on your electric bill with SunDog</h2>
  </div>
  <div class="container">

      <!-- if a zip code hasn't been entered, or no response yet from server -->
        <div ng-if="!land.zipCode.response && !land.loginStatus">

            <div class="panel top-panel">
                <div class="panel-heading">
                  <h3>see if you qualify</h3>
                </div>
                <div class="panel-body">
                  <input ng-model="land.zipCode.input" ng-change="land.zipCodeKeyPress()" type="tel" placeholder="zip code" class="form-control input-lg zip-code" maxlength="5" autofocus />
                </div>
            </div>

            <button class="login-button" ng-click="land.showLogin()">already signed up? login</button>

        </div>

      <!-- if a zip code response has been received from the server -->
        <div ng-if="land.zipCode.response">

            <!-- displays if Xcel is the utility -->
            <div ng-if="land.zipCode.isNSP">
              <form class="well">
                  <p>Your utility Xcel Energy is eligible!</p>
                  <label for="emailAddress">Email address</label>
                  <input type="email" class="form-control" id="emailAddress" placeholder="your email" ng-model="land.user.emailAddress" required />
                  <br />
                  <button class="btn btn-primary btn-lg btn-block" ng-click="land.reserveSpot()">Reserve your spot now!</button>
              </form>
            </div>

            <!-- displays if the utility is not Xcel -->
            <div ng-if="!land.zipCode.isNSP">
              <div class="well">
                   <p>Sorry. {{land.zipCode.utility}} is not yet eligible.</p>
              </div>
            </div>

        </div>

      <!-- if login button clicked -->
        <div ng-if="land.loginStatus">

          <div class="row">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <form class="login">
                    <label for="emailAddress">Email address</label>
                    <input type="email" class="form-control" id="emailAddress" placeholder="your email" ng-model="land.user.emailAddress" required />

                    <label for="password">Password</label>
                    <div class="input-group">
                      <input type="password" class="form-control" id="password" placeholder="your password" ng-model="land.user.password" required />
                      <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                    </div>

                    <p ng-if="land.loginFail">{{land.loginFailMessage}}</p>
                    <br />
                    <button class="btn btn-primary btn-lg btn-block" ng-click="land.login()">Login</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="thumbnail">
          <img src="assets/images/tablet.jpg" alt="Piggy Bank">
        <div class="caption">
          <h3>Save money</h3>
          <p>Subscribe now to lock in our low electric rates, and save up to 10% on your electric bills.</p>
          <p>No upfront costs!</p>
          <p>You remain an Xcel Energy customer, but purchase your power directly from the solar farm at reduced cost.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/bwca.jpg" alt="Boundary Waters Canoe Area Wilderness">
        <div class="caption">
          <h3>Clean, solar energy</h3>
          <p>Community solar is an easy way for anyone to go solar!</p>
          <p>Simply purchase a subscription and then enjoy renewable solar power. Arf arf!</p>
          <p>Option to purchase 100% of your electricity from solar.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/solar-modules.jpg" alt="Solar modules on house">
        <div class="caption">
          <h3>How it works</h3>
          <p>1) Subscribe today to receive a portion of your power from Sun Dog</p>
          <p>2) Sun Dog will partner with a developer to build a solar farm in or near your community</p>
          <p>3) You begin receiving credits on your Xcel Energy bill for the solar energy generated</p>
        </div>
      </div>
    </div>

    <!-- if a zip code hasn't been entered, or no response yet from server -->
    <div class="row" ng-if="!land.zipCode.response && !land.loginStatus">
      <div class="col-sm-12 col-md-12">
        <div class="panel bottom-panel">
            <div class="panel-heading">
              <h3>see if you qualify</h3>
            </div>
            <div class="panel-body">
              <input ng-model="land.zipCode.input" ng-change="land.zipCodeKeyPress()" type="tel" placeholder="zip code" class="form-control input-lg zip-code" maxlength="5" autofocus />
            </div>
        </div>
      </div>
      </div>
    </div>

  </div>
</div>
