<div class="jumbotron index-jt">
  <div class="container">
      <h1>Go Solar!</h1>
      <h2>Lower your electric bill with SunDog</h2>

      <!-- if a zip code hasn't been entered, or no response yet from server -->
        <div ng-if="!land.zipCode.response && !land.loginStatus">

            <div class="panel top-panel">
                <div class="panel-heading">
                  <h3>see if you qualify</h3>
                </div>
                <div class="panel-body">
                  <input ng-model="land.zipCode.input" ng-change="land.zipCodeKeyPress()" type="text" placeholder="zip code" class="form-control input-lg zip-code" maxlength="5" autofocus />
                </div>
            </div>

            <div class="panel">
                <a ng-click="land.showLogin()"><h4>already signed up? login</h3></a>
            </div>

        </div>

      <!-- if a zip code response has been received from the server -->
        <div ng-if="land.zipCode.response">

            <!-- displays if Xcel is the utility -->
            <div ng-if="land.zipCode.isNSP">
              <div class="well">
                  <p>Your utility Xcel Energy is eligible!</p>
                  <label for="emailAddress">Email address</label>
                  <input type="email" class="form-control" id="emailAddress" placeholder="your email" ng-model="land.user.emailAddress" required />
                    <button class="btn btn-primary btn-lg btn-block" ng-click="land.reserveSpot()">Reserve your spot now!</button>
              </div>
            </div>

            <!-- displays if the utility is not Xcel -->
            <div ng-if="!land.zipCode.isNSP">
              <div class="well">
                   <p>Sorry. {{land.zipCode.utility}} is not yet eligible.</p>
              </div>
            </div>

        </div>

      <!-- if login button clicked -->
        <div ng-if="land.loginStatus">

          <div class="row">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <div class="login">
                    <label for="emailAddress">Email address</label>
                    <input type="email" class="form-control" id="emailAddress" placeholder="your email" ng-model="land.user.emailAddress" required />

                    <label for="password">Password</label>
                    <div class="input-group">
                      <input type="password" class="form-control" id="password" placeholder="your password" ng-model="land.user.password" required />
                      <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                    </div>

                    <p ng-if="land.loginFail">{{land.loginFailMessage}}</p>

                    <button class="btn btn-primary btn-lg btn-block" ng-click="land.login()">Login</button>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Save money</h3>
          <p>Lock in low long-term electric rates</p>
          <p><a href="#" class="btn btn-primary" role="button">See how much you could save</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>Lower your carbon footprint.</h3>
          <p>Option to purchase 100% of your electricity from solar.</p>
          <p><a href="#" class="btn btn-primary" role="button">See if you qualify</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>How it works</h3>
          <p>1) subscribe with Sun Dog</p>
          <p>2) a developer builds a solar farm in or near your community</p>
          <p>3) you begin receiving credits on your utility bill for the solar energy generated</p>
          <p><a href="#" class="btn btn-primary" role="button">Get started</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
