<div class="jumbotron signup-jt">

    <div class="container-fluid">
        <h2>You're eligible for community solar!</h2>
    </div>

</div>

<div class="container-fluid">
  <h4>{{signup.data.status}}</h4>

  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <form class="form-group form-group-lg">

          <!-- Displays Step 1 of signup form: user registration -->
          <div ng-if="!signup.data.signUpCompleted">

                <label for="emailAddress">Email address</label>
                <input type="email" class="form-control" id="emailAddress" placeholder="your valid email" ng-model="signup.data.emailAddress" required />

                <label for="password">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="password" placeholder="minimum 7 characters" ng-model="signup.data.password" required />
                  <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                </div>

                <p>{{signup.data.signUpError}}</p>

                <button class="btn btn-primary btn-lg btn-block" ng-click="signup.signUp()">Sign Up</button>

                <!-- progress bar -->
                <div class="progress">
                  <div class="progress-bar progress-bar-striped step-one" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4"></div>
                </div>
                <span>step 1 of 4 complete</span>
          </div>

          <!-- Displays step 2 of signup form: utility bill information -->
          <div ng-if="signup.data.signUpCompleted && !signup.data.nextCompleted">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped step-two" role="progressbar" aria-valuenow="2" aria-valuemin="1" aria-valuemax="4"></div>
                </div>
                <p>step 2 of 4</p>

                <label for="firstName">First Name</label>
                <input ng-model="signup.data.firstName" type="text" class="form-control" id="firstName" placeholder="your first name" required />

                <label for="lastName">Last Name</label>
                <input ng-model="signup.data.lastName" type="text" class="form-control" id="lastName" placeholder="your last name" required />

                <fieldset>
                  <legend>information from your utility bill</legend>
                  <label for="xcelAccountNumber">your Xcel Energy account number</label>
                  <input ng-model="signup.data.xcelAccountNumber" type="text" class="form-control" id="xcelAccountNumber" placeholder="_ _ _ _ _ _ _" />

                  <label for="xcelPremiseNumber">your Xcel Energy premise number</label>
                  <input ng-model="signup.data.xcelPremiseNumber" type="text" class="form-control" id="xcelPremiseNumber" placeholder="_ _ _ _ _ _ _ _ _" />

                  <label for="xcelServiceAddress">your Xcel Energy service address</label>
                  <input ng-model="signup.data.xcelServiceAddress" type="text" class="form-control" id="xcelServiceAddress" placeholder="your street address" />
                  <input ng-model="signup.data.xcelCity" type="text" class="form-control" id="xcelServiceAddress" placeholder="your city" />

                  <label for="electricUsage">recent month electric usage</label>
                  <input ng-model="signup.data.electricUsage" type="range" id="electricUsage" value="50" />
                </fieldset>

                <button class="btn btn-primary btn-lg btn-block" ng-click="signup.next()">Next</button>
          </div>

          <!-- Displays Step 3 of signup form: agency agreement -->
          <div ng-if="signup.data.nextCompleted && !signup.data.agencyAgreementCompleted">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped step-three" role="progressbar" aria-valuenow="3" aria-valuemin="1" aria-valuemax="4"></div>
                </div>
                <p>step 3 of 4</p>

                <textarea class="form-control" rows="10" id="agencyAgreement">Agency Agreement goes here</textarea>
                <div class="checkbox">
                    <label><input ng-model="signup.data.agencyAgreed" type="checkbox">I have read and agree to the terms of the Agency agreement</label>
                </div>
                <button class="btn btn-primary btn-lg btn-block" ng-click="signup.agencyAgreement()">Sign electronically</button>
          </div>

          <!-- Displays step 4 of signup form: data privacy agreement -->
          <div ng-if="signup.data.agencyAgreementCompleted && !signup.data.dataAgreementCompleted">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped step-four" role="progressbar" aria-valuenow="4" aria-valuemin="1" aria-valuemax="4"></div>
                </div>
                <p>step 4 of 4</p>

                <textarea class="form-control" rows="10" id="dataPrivacy">Data privacy agreement goes here</textarea>
                <div class="checkbox">
                    <label><input ng-model="signup.data.dataAgreed" type="checkbox">I have read and agree to the data privacy terms</label>
                </div>
                <button class="btn btn-primary btn-lg btn-block" ng-click="signup.dataPrivacyAgreement()">Sign electronically</button>

          </div>

          <!-- Displays signup form success! -->
          <div ng-if="signup.data.dataAgreementCompleted">

          <h1>Done!</h1>

          </div>
        </form>
    </div>

    <div class="col-md-4"></div>
  </div>

</div>
